* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}
.menu-icon {
    width: 30px;
    height: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.line {
    width: 100%;
    height: 4px;
    background-color: #333333;
    border-radius: 4px;
    transition: transform 0.6s ease, opacity 0. 6s ease;
}
.menu-icon.active .line {
    transform: translateY(10px) rotate(45deg)
}
.menu-icon.active .line2 {
    opacity: 0;
}
.menu-icon.active .line3 {
    transform: translateY(-10px) rotate(-45deg);
}